{# src\Devschool\BiblioBundle\Resources\views\layout.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Devschool Bibliothèque{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="{{ app.request.basepath }}/css/style.css" rel="stylesheet">
      <link href="{{ app.request.basepath }}/css/styl.css" rel="stylesheet">
      <link href="{{ app.request.basepath }}/css/styleboostrap.css" rel="stylesheet">
      </head>
      <body>
      <div class="container">
          <nav class="navbar navbar-default navbar-fixed-top " role="navigation">
              <div class="container">
                  <div class="navbar-header">
          </div>
                      <ul class="menu">
            <li><a href="{{ path('page_accueil') }}">Accueil</a></li>
            <li><a href="{{ path('page_livres') }}">Livres</a></li>
            <li><a href="{{ path('admin_livre_liste') }}">Admin</a></li>

        </ul>

        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
