{# src\Devschool\BiblioBundle\Resources\views\Livre\show.html.twig #}
{% extends 'DevschoolBiblioBundle::layout.html.twig' %}
 
{% block title %}{{ livre.titre }}{% endblock %}

{% block body %}
    <h1>{{ livre.titre }}</h1>
    <span>({{ livre.genre.nom }})</span><br />
    <br />
    <span>Ecrit par {{ livre.auteur }}</span><br />
    <br />
    <span>Sortie le {{ livre.dateParution|date('d/m/Y') }}</span>

    <p>{{ livre.description }}</p>

    <span>Nombre de pages : {{ livre.nombrePages }}</span>


    <p><a href="{{ path('page_livres') }}">Retour</a></p>
{% endblock %}
