<!DOCTYPE html>
<html>
<head>
    <style>
        body {margin:0;}

        ul.menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            position: fixed;
            top: 0;
            width: 100%;
        }

        ul.menu li {
            float: left;
        }

        ul.menu li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        ul.menu li a:hover:not(.active) {
            background-color: #111;
        }

        .active {
            background-color: #4CAF50;
        }

        div.content { padding:20px; margin-top:30px; }
    </style>
    <title>Admin</title>
</head>
<body>
<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
<link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ app.request.basepath }}/css/styl.css" rel="stylesheet">
<link href="{{ app.request.basepath }}/css/styleboostrap.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top " role="navigation">
      <div class="container">
          <div class="navbar-header">
  </div>
  <ul class="menu">
    <li><a{% if 'livre' in app.request.attributes.get('_route')  %} class="active"{% endif %} href="{{ path('admin_livre_liste') }}">Livres</a></li>
    <li><a{% if 'genre' in app.request.attributes.get('_route') %} class="active"{% endif %} href="{{ path('admin_genre_liste') }}">Genres</a></li>
      <li><a{% if 'auteur' in app.request.attributes.get('_route') %} class="active"{% endif %} href="{{ path('admin_auteur_liste') }}">Auteurs</a></li>
    <li><a{% if 'page_accueil' in app.request.attributes.get('_route')  %} class="active"{% endif %} href="{{ path('page_accueil') }}">Retour au site</a></li>
</ul>

<div class="content">
    {% block body %}{% endblock %}
</div>

</body>
</html>
