{# src\Devschool\AdminBundle\Resources\views\Genre\list.html.twig #}
{% extends 'DevschoolAdminBundle::layout.html.twig' %}
{% block body %}
<h1>Liste des genres :</h1>
<ul>
{% for genre in genres %}
    <li>
        <a href="{{ path('admin_genre_modif', {'id': genre.id}) }}">{{ genre.nom }}</a>
        <a href="{{ path('admin_genre_supprimer', {'id': genre.id}) }}">(supprimer)</a>
    </li>
{% endfor %}
</ul>
<a href="{{ path('admin_genre_ajout') }}">Ajouter</a>
{% endblock %}
