@@charset "UTF-8";

html, body {
 margin: 0;
 padding: 0;
 background-color:#00FF00;
 }
body {
 background-color:#B0C4DE;

 }
h1 {
 color: navy
 text-align: center;
 }
h2 {
 font-size: 150%;
 color: red;
 padding-left: 15px;
 }
p,ul,li,td {
 color: black;
 }
a:link {
 color: #FFFFFF;
 text-decoration: underline;
 }
a:visited {
 color: #FFFF00;
 }
a:hover {
 color: blue;
 text-decoration: none;
}
a:active, a:focus {
 color: #FFFFFF;
}
menu a{
 color: red;
 margin-right: 20px

}
