{# src\Devschool\AdminBundle\Resources\views\Auteur\form.html.twig #}
{% extends 'DevschoolAdminBundle::layout.html.twig' %}
{% block body %}
    <h1>Formulaire Auteur :</h1>
    {{ form_start(form) }}
    <strong>{{ form_label(form.nom) }}</strong> : {{ form_widget(form.nom) }}
    <strong>{{ form_label(form.prenom) }}</strong> : {{ form_widget(form.prenom) }}
    <strong>{{ form_label(form.age) }}</strong> : {{ form_widget(form.age) }}
     {{ form_widget(form.save) }}
    {{ form_end(form) }}
    <br />
    <a href="{{ path('admin_auteur_liste') }}">Retour</a>
{% endblock %}
