{# src\Devschool\AdminBundle\Resources\views\Auteur\list.html.twig #}
{% extends 'DevschoolAdminBundle::layout.html.twig' %}
{% block body %}
<h1>Liste des auteurs:</h1>
<ul>
{% for auteur in auteurs %}
    <li>
        <a href="{{ path('admin_auteur_modif', {'id': auteur.id}) }}">{{ auteur.nom }}</a>
        <a href="{{ path('admin_auteur_supprimer', {'id':auteur.id}) }}">(supprimer)</a>
    </li>
{% endfor %}
</ul>
<a href="{{ path('admin_auteur_ajout') }}">Ajouter</a>
{% endblock %}
